.git
.gitignore
.env
.env.backup
.vscode
.idea
*.md
Dockerfile
docker-compose.yml
.dockerignore
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
database/*.sqlite
docs
